// Place all the styles related to the Welcom controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.centerDiv {
  margin: auto;
  width: 50%;
  padding: 10px;
}
.centerText {
  text-align: center;
}
