// Place all the styles related to the Welcom controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.new-radio{
  display: none;
  max-width: 100%;
}
.admin-column{
  display: none;
  float: left;
  max-width: 40%;
}
.admin-column, button{
  cursor: pointer;
  width: 50%;
}
.admin-column, input {
  width: 100%;
}
.radio-column{
  margin: auto;
  max-width: 100%;
  text-align: center;
}
.ml-auto, .mx-auto {
  height: 200px;
  margin-left: auto !important;
}
.header h1{
  color: #00caa6;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 58px;
  font-style: italic;
  font-weight: 100;
  line-height: 54px;
  margin: 1em 0 0.5em 0;
  text-align: center;
  text-shadow: 2px 5px 0 rgba(0,0,0,0.2);
  text-transform: uppercase;
}
.header h2{
    color: #148773;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 26px;
    font-weight: bold;
    line-height: 40px;
    margin: 1em 0 0.5em 0;
    text-align: center;

}
.icon-play {
  cursor: pointer;
  max-width: 7em;
  padding-bottom : 10px;
  padding-left : 32px;
  padding-top : 10px;
}
.icon-pause {
  cursor: pointer;
  display: none;
  max-width: 7em;
  padding-bottom : 10px;
  padding-left : 32px;
  padding-top : 10px;
}
.icon-admin {
  cursor: pointer;
  left: 87%;
  max-width: 5em;
  min-height: 2em;
  position: relative;
  top: 5px;
}

.loader {
  animation: spin 2s linear infinite;
  border: 16px solid #f3f3f3; /* Light grey */
  border-radius: 50%;
  border-top: 16px solid #3498db; /* Blue */
  display: none;
  height: 75px;
  vertical-align: middle;
  width: 75px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}