// Place all the styles related to the Welcom controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.new-radio{
  display: none;
  max-width: 100%;
}
.admin-column{
  display: none;
  float: left;
  max-width: 40%;
}
.admin-column, button{
  width: 50%;
  cursor: pointer;
}
.admin-column, input {
  width: 100%;
}
.radio-column{
  margin: auto;
  max-width: 100%;
  text-align: center;
}
.ml-auto, .mx-auto {
  margin-left: auto !important;
  height: 200px;
}
.header h1{
  text-align: center;
  margin: 1em 0 0.5em 0;
  font-weight: 100;
  text-transform: uppercase;
  color: #00caa6;
  font-style: italic;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 58px;
  line-height: 54px;
  text-shadow: 2px 5px 0 rgba(0,0,0,0.2);
}
.header h2{
    text-align: center;
    margin: 1em 0 0.5em 0;
    color: #148773;
    font-size: 26px;
    line-height: 40px;
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;

}
.icon-play {
  max-width: 7em;
  padding-left : 32px;
  padding-top : 10px;
  padding-bottom : 10px;
  cursor: pointer;
}
.icon-pause {
  display: none;
  max-width: 7em;
  padding-left : 32px;
  padding-top : 10px;
  padding-bottom : 10px;
  cursor: pointer;
}
.icon-admin {
  position: relative;
  max-width: 5em;
  min-height: 2em;
  left: 87%;
  top: 5px;
  cursor: pointer;
}
.plaer {

}